<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div class="wrap">
    <div class="container">
    <div class="header">
        <div class="inner logo">
            <img src="../images/headerLogo_white.png" alt>
            <span>控制台登录</span>
        </div>
    </div>
    <div class="content">
        <div class="inner">
            <form class="login-form" action="/" method="post">
            <div class="control-group">
                <input class="input-xlarge" type="text" name="email" placeholder="用户名或邮箱">
                <input class="input-xlarge" type="password" name="pass" placeholder="密码">
            </div>
            <div class="link clearfix" >
                <a href="#">注册体验</a>
                <a href="#">忘记密码</a>
            </div>
            <div class="control-group">
                <input  class="input-xlarge login-button" type="submit" value="登录">
            </div>
            </form>
        </div>
    </div>
    </div>
   </div>
</body>
</html>